@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: 'times-new-roman';
    font-size: 12pt;
}

.headline {
    margin: 5px;
    height: 400px;
    overflow: hidden;
}

#headlineText {
    font-family: 'times-new-roman';
    font-size: 50pt;
    position: absolute;
    margin-top: -200px;
    padding-top: 50px;
    padding-left: 390px;
}

#headlineImage {
    opacity: 0.2;
    width: 99%;
    height: 200px;
}

.ingredient {
    font-weight: bold;
    color: white;
}

#burgers {
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    border: 3px double white;
}

#burgers ul {
    color: lightgray;
}

#customerinfo {
    margin: 5px;
}

#customerinfo form {
    padding: 5px;
    border: 3px double black;
}

button:hover {
    background-color: green;
}

button {
    margin: 5px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 200px 200px;
}

.wrapper img {
    width: 200px;
    height: 200px;
}

.wrapper h4 {
    text-align: center;
}